/* ------- fonts details start-------*/
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),  url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff2') format('woff2'),  url('../fonts/SegoeUI.woff') format('woff'),  url('../fonts/SegoeUI.woff') format('woff'),  url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),  url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff2') format('woff2'),  url('../fonts/SegoeUI-Bold.woff') format('woff'),  url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUIBlack.eot');
    src: local('Segoe UI Black'), local('SegoeUIBlack'),  url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIBlack.woff2') format('woff2'),  url('../fonts/SegoeUIBlack.woff') format('woff'),  url('../fonts/SegoeUIBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Semibold.eot');
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'),  url('SegoeUI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* ------- fonts details start-------*/
